/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
}

/* Add a background color and some spacing to the header */
.App-header {
  background-color: #FF00FF;
  padding: 20px;
  text-align: center;
}

/* Customize the header image */
.App-logo {
  height: 80px;
  pointer-events: none;
}

/* Style the Connect Wallet button */
button {
  background-color: #D3D3D3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #3498db;
}

/* Style the recipient list */
.recipient-list {
  margin-top: 30px;
}

.recipient-card {
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add some spacing and style the Recipients heading */
.recipient-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
