.App {
  text-align: center;
}

/* Customize the following styles based on your color scheme and font choices */
.App-header {
  background-color: #3498db;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  font-size: 240px;
  color: white;
}

.App-logo {
  height: 800px;
  pointer-events: none;
  /* Add additional styles like box-shadow, border-radius, etc., if desired */
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.2s ease;
}

.App-link:hover {
  color: #45aaf2;
}

/* Add any additional styles for buttons, form elements, etc., as needed */
